.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

.ui.card > .content p,
.ui.cards > .card > .content p {
  margin: 2rem;
  font-size: 20px;
  font-style: italic;
}

b {
  font-style: normal;
  font-size: 25px;
  padding: 3px;
}

.ui.card > .content a:not(.ui),
.ui.cards > .card > .content a:not(.ui) {
  margin-left: 5px;
}

.form-container {
  width: 400px;
  margin: auto;
}

.ui.Violet.button:focus,
.ui.Violet.buttons .button:focus {
  background-color: #5b51b4;
}

.ui.card > .content > .description,
.ui.cards > .card > .content > .description {
  padding: 0.5rem 0rem;
}

.ui.card > .extra,
.ui.cards > .card > .extra {
  display: none;
  transition-delay: 1s;
}

.ui.card:hover > .extra,
.ui.cards > .card > .extra {
  display: block;
  transition-delay: 1s;
}

.ui.card .extra {
  transition-delay: 1s;
}

.ui-error-message {
  margin-top: 1rem;
  border-radius: 0.5rem;
  padding: 0.2rem;
  background-color: #fff6f6;
  color: #9f3a38;
}
